/*
Colors: 
#E54E79; rosa;
#E56385; rosa palido;
#00B2A9; azul mio XD;
#75726C; plomo;
#EDE9E2;  blanco
*/
body{
	margin: 0;
	background-color: #00B2A9;
	font-family: 'Raleway', sans-serif;
}
.foto{
	position: static;
	background: url("../img/cropped-Lyft-Promo-Codes-car-1.jpg");
	background-size: cover;
	padding: 370px;
}

.navB{
	width: 100%;
	position: fixed;
}
a{
	margin-right: 50px;	
}
.navB ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #E54E79;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
/*lista hacia el lado :)*/
.navB ul li{
	display: fixed;
	float: right;
	display: inline-block;
}
/*estilo*/
.navB ul li a{
	display: inline-block;
	color: whitesmoke;
	text-align: center;
	padding: 26px;
	text-decoration: none;
}
/*mouse sobre texto cambio de color*/
.navB li a:hover, .dropdown:hover{
	background-color:  #CB097A;
	color: black;
}
.logo img{
	position: fixed;
	width: 50px; /*tam*/
	margin-left: 200px;
	top: 15px;
}
/*CAJITA VOLADORA*/
.box{/*tamaño de caja*/
	width: 500px;
	height: 350px;
	display: inline-block;
	font-size: 25px;/*texto :P*/
	text-align: center;
	margin-top: 200px; 
	color: #00B2A9;
	line-height: 200px;
	font-weight: bold;

}

.fija-uno{
	background-color: #EDE9E2;
	position: fixed;
	top: 0;
	right: 0;
}
.box input {
	width: 350px;
	height: 40px;
	margin-left: 70px;
	display: block;
	margin-top: -90px;	
	visibility: -10px;
	border: none;
    background-color:#EDE9E2; 
    border-bottom: 1px solid #838584;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CFD1D0;
}

/*BOTON*/
.btn {
  background: #E54E79;
  background-image: -webkit-linear-gradient(top, #E54E79, #E54E79);
  background-image: linear-gradient(to bottom, #E54E79, #E54E79);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
}

.btn:hover {
  background: #00B2A9;
  background-image: -webkit-linear-gradient(top, #00B2A9, #09f2e2);
  background-image: linear-gradient(to bottom, #00B2A9, #09f2e2);
  text-decoration: none;
}














/*
.fija-uno span{
	background-color: red;
	line-height: 18px;
	font-size: 18px;
	display: block;
	padding: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 20px;
}*/

/*play with me*/
.caja{
	display: inline;
}
.textos{
	
	padding: 20px;
	margin-top: -180px;
	font-size: 13px;
	color: #75726C;
	margin-right: 170px;
}

.uno{
	text-align: center;
	background-color: #EDE9E2;
	padding: 20px;
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	color: #75726C;
}




